<h1>Vistador/Observador</h1>


<section class="example-section">
  Sem E-CPF&nbsp; <mat-slide-toggle  [(ngModel)]="comEcpf" class="example-margin"  color="primary"> Com E-CPF  </mat-slide-toggle>
</section>
<button mat-fab color="primary" (click)="inserirRegistro()">
  <mat-icon>note_add</mat-icon>
</button>


<div class ="row" *ngFor="let element of objs.clientes ">
  <span>{{element.nome}} -> </span>
  <span>{{element.email}} -> </span>
  <span>{{element.cpf}} --></span>
  <span>{{element.tipo}}</span>
  <button (click)="editar(element)">Editar</button>
  <button (click)="excluir(element)">Excluir</button>
</div>


