<ul>
  <li><a (click)="onClick('1')">Click me!</a></li>
  <li><a (click)="onClick('2')">Click me!</a></li>
  <li><a (click)="onClick('3')">Click me!</a></li>
  <li> <a (click)="onClick('4')">Click me!</a></li>
  <li><a (click)="onClick('teste')"><span matBadge="4" matBadgeOverlap="false">Ultimo Texto</span></a></li>
</ul>
<div class="textos">
  <div  id=1>
    <p>
      Um dia descobrimos que beijar uma pessoa para esquecer outra é bobagem.
      Você não só não esquece a outra pessoa como pensa muito mais nela...
      Um dia nós percebemos que as mulheres têm instinto "caçador" e fazem qualquer homem sofrer...
      Um dia descobrimos que se apaixonar é inevitável...
      Um dia percebemos que as melhores provas de amor são as mais simples...
      Um dia percebemos que o comum não nos atrai...
      Um dia saberemos que ser classificado como "bonzinho" não é bom...
      Um dia perceberemos que a pessoa que nunca te liga é a que mais pensa em você...
      Um dia percebemos que somos muito importante para alguém, mas não damos valor a isso...
      Um dia percebemos como aquele amigo faz falta, mas ai já é tarde demais...
      Enfim...
      Um dia descobrimos que apesar de viver quase um século esse tempo todo não é suficiente para realizarmos todos os
      nossos sonhos, para beijarmos todas as bocas que nos atraem, para dizer o que tem de ser dito...
      O jeito é: ou nos conformamos com a falta de algumas coisas na nossa vida ou lutamos para realizar todas as nossas
      loucuras...
    </p>
  </div>
  <div id=2>
    <p>
      Há momentos na vida em que sentimos tanto
      a falta de alguém que o que mais queremos
      é tirar esta pessoa de nossos sonhos
      e abraçá-la.

      Sonhe com aquilo que você quiser.
      Seja o que você quer ser,
      porque você possui apenas uma vida
      e nela só se tem uma chance
      de fazer aquilo que se quer.

      Tenha felicidade bastante para fazê-la doce.
      Dificuldades para fazê-la forte.
      Tristeza para fazê-la humana.
      E esperança suficiente para fazê-la feliz.

      As pessoas mais felizes
      não têm as melhores coisas.
      Elas sabem fazer o melhor
      das oportunidades que aparecem
      em seus caminhos.

      A felicidade aparece para aqueles que choram.
      Para aqueles que se machucam.
      Para aqueles que buscam e tentam sempre.
      E para aqueles que reconhecem
      a importância das pessoas que passam por suas vidas.

      O futuro mais brilhante
      é baseado num passado intensamente vivido.
      Você só terá sucesso na vida
      quando perdoar os erros
      e as decepções do passado.

      A vida é curta, mas as emoções que podemos deixar
      duram uma eternidade.
      A vida não é de se brincar,
      porque um belo dia se morre.
    </p>
  </div>
  <div id="3">
    <p>
      A amizade consegue ser tão complexa...
      Deixa uns desanimados, outros bem felizes...
      É a alimentação dos fracos
      É o reino dos fortes

      Faz-nos cometer erros
      Os fracos deixam se ir abaixo
      Os fortes erguem sempre a cabeça
      os assim assim assumem-os

      Sem pensar conquistamos
      O mundo geral
      e construímos o nosso pequeno lugar
      deixando brilhar cada estrelinha

      Estrelinhas...
      Doces, sensíveis, frias, ternurentas...
      Mas sempre presentes em qualquer parte
      Os donos da amizade...
    </p>
  </div>
  <div id="4">
    <p>
      RECOMEÇAR

      Não importa onde você parou,
      em que momento da vida você cansou,
      o que importa é que sempre é possível
      e necessário "Recomeçar".

      Recomeçar é dar uma nova
      chance a si mesmo.
      É renovar as esperanças na vida
      e o mais importante:
      acreditar em você de novo.

      Sofreu muito nesse período?
      Foi aprendizado.

      Chorou muito?
      Foi limpeza da alma.

      Ficou com raiva das pessoas?
      Foi para perdoá-las um dia.

      Sentiu-se só por diversas vezes?
      É por que fechaste a porta até para os outros.

      Acreditou que tudo estava perdido?
      Era o início da tua melhora.

      Pois é!
      Agora é hora de iniciar,
      de pensar na luz,
      de encontrar prazer nas coisas simples de novo.

      Que tal um novo emprego?
      Uma nova profissão?
      Um corte de cabelo arrojado, diferente?
      Um novo curso,
      ou aquele velho desejo de aprender a pintar,
      desenhar,
      dominar o computador,
      ou qualquer outra coisa?

      Olha quanto desafio.
      Quanta coisa nova nesse mundão
      de meu Deus te esperando.

      Tá se sentindo sozinho?
      Besteira!
      Tem tanta gente que você afastou
      com o seu "período de isolamento",
      tem tanta gente esperando apenas um
      sorriso teu para "chegar" perto de você.

      Quando nos trancamos na tristeza nem
      nós mesmos nos suportamos.
      Ficamos horríveis.
      O mau humor vai comendo nosso fígado,
      até a boca ficar amarga.

      Recomeçar!
      Hoje é um bom dia para começar
      novos desafios.

      Onde você quer chegar?
      Ir alto.
      Sonhe alto,
      queira o melhor do melhor,
      queira coisas boas para a vida.
      pensamentos assim trazem para nós
      aquilo que desejamos.

      Se pensarmos pequeno,
      coisas pequenas teremos.

      Já se desejarmos fortemente o melhor
      e principalmente lutarmos pelo melhor,
      o melhor vai se instalar na nossa vida.

      E é hoje o dia da Faxina Mental.

      Joga fora tudo que te prende ao passado,
      ao mundinho de coisas tristes,
      fotos,
      peças de roupa,
      papel de bala,
      ingressos de cinema,
      bilhetes de viagens,
      e toda aquela tranqueira que guardamos
      quando nos julgamos apaixonados.
      Jogue tudo fora.
      Mas, principalmente,
      esvazie seu coração.
      Fique pronto para a vida,
      para um novo amor.

      Lembre-se somos apaixonáveis,
      somos sempre capazes de amar
      muitas e muitas vezes.
      Afinal de contas,
      nós somos o "Amor".
    </p>
  </div>

  <div id="5">
    <p>
      A amizade é um amor que nunca morre.
      A amizade é uma virtude que muitos sabem que existe,
      alguns descobrem, mas poucos reconhecem.
      A amizade quando é sincera o esquecimento é impossível
      A confiança, tal como a arte, não deriva de termos resposta para tudo, mas,
      de estarmos abertos a todas as perguntas.
      A dor alimenta a coragem. Você não pode ser corajoso se só aconteceram
      coisas maravilhosas com você.
      A esperança é um empréstimo pedido à felicidade.
      A felicidade não é um prêmio, e sim uma conseqüência,
      a solidão não é um castigo, e sim um resultado.
      A felicidade não está no fim da jornada, e sim em cada curva do caminho que
      percorremos para encontrá-la.
      A gente tropeça sempre nas pedras pequenas, porque as grandes a gente logo enxerga.
      A glória da amizade não é a mão estendida, nem o sorriso carinhoso, nem mesmo a delicia da companhia. É a
      inspiração espiritual que vem quando você descobre que alguém acredita e confia em você.
      A infelicidade tem isto de bom: faz-nos conhecer os verdadeiros amigos.
      A inteligência é o farol que nos guia, mas é a vontade que nos faz caminhar.
      A maior fraqueza de uma pessoa é trocar aquilo que ela mais deseja na vida, por aquilo que ele deseja no momento.
      A persistência é o caminho do êxito.
      A pior solidão é aquela que se sente na companhia de outros.
      A solidão é uma gota no oceano que só olha para si mesma... Uma gota que não sabe o que é oceano...
      Amigos são a outra parte do oceano que a gota procura...
      A tua única obrigação durante toda a tua existência
      é seres verdadeiro para contigo próprio.
      A verdadeira amizade deixa marcas positivas que o tempo jamais poderá apagar.
      A verdadeira amizade é aquela que não pede nada em troca, a não ser a própria amiga.
      A verdadeira generosidade é fazer alguma coisa de bom por alguém
      que nunca vai descobrir.
      A verdadeira liberdade é poder tudo sobre si.
      Algumas pessoas acham-se cultas porque comparam sua ignorância com as dos outros.
      Amigo de verdade é aquele que transforma um pequeno momento em um grande instante.
      Amigo é a luz que não deixa a vida escurecer.
      Amigo é aquele que conhece todos os seus segredos e mesmo assim gosta de você!
      Amigo é aquele que nos faz sentir melhor e sobre tudo nos faz sentir amados...
      Amigo é aquele que, a cada vez, nos faz entrever
      a meta e que percorre conosco um trecho do caminho
      Amigos são como flores cada um tem o seu encanto por isso cultive-os.
      Amizade é como música: duas cordas afinadas no mesmo tom, vibram juntas...
      Amizade, palavra que designa vários sentimentos, que não pode ser trocada por meras coisas materiais... Deve ser
      guardada e conservada no coração!!!
      As pessoas entram em nossas vidas por acaso, mas não é por acaso que elas permanecem.
      Celebrar a vida é somar amigos, experiências e conquistas,
      dando-lhes sempre algum significado.
      Diante de um obstáculo não cruzes os braços, pois o maior
      homem do mundo morreu de braços abertos.
      Elogie os amigos em público, critique em particular.
      Errar é humano, perdoar é divino.
      Evitar a felicidade com medo que ela acabe; é o melhor meio de ser infeliz.
      Faça amizade com a bondade das pessoas, nunca com seus bens!
      Felicidade é a certeza de que a nossa vida não está se passando inutilmente.A amizade é um amor que nunca morre.
      A amizade é uma virtude que muitos sabem que existe,
      alguns descobrem, mas poucos reconhecem.
      A amizade quando é sincera o esquecimento é impossível
      A confiança, tal como a arte, não deriva de termos resposta para tudo, mas,
      de estarmos abertos a todas as perguntas.
      A dor alimenta a coragem. Você não pode ser corajoso se só aconteceram
      coisas maravilhosas com você.
      A esperança é um empréstimo pedido à felicidade.
      A felicidade não é um prêmio, e sim uma conseqüência,
      a solidão não é um castigo, e sim um resultado.
      A felicidade não está no fim da jornada, e sim em cada curva do caminho que
      percorremos para encontrá-la.
      A gente tropeça sempre nas pedras pequenas, porque as grandes a gente logo enxerga.
      A glória da amizade não é a mão estendida, nem o sorriso carinhoso, nem mesmo a delicia da companhia. É a
      inspiração espiritual que vem quando você descobre que alguém acredita e confia em você.
      A infelicidade tem isto de bom: faz-nos conhecer os verdadeiros amigos.
      A inteligência é o farol que nos guia, mas é a vontade que nos faz caminhar.
      A maior fraqueza de uma pessoa é trocar aquilo que ela mais deseja na vida, por aquilo que ele deseja no momento.
      A persistência é o caminho do êxito.
      A pior solidão é aquela que se sente na companhia de outros.
      A solidão é uma gota no oceano que só olha para si mesma... Uma gota que não sabe o que é oceano...
      Amigos são a outra parte do oceano que a gota procura...
      A tua única obrigação durante toda a tua existência
      é seres verdadeiro para contigo próprio.
      A verdadeira amizade deixa marcas positivas que o tempo jamais poderá apagar.
      A verdadeira amizade é aquela que não pede nada em troca, a não ser a própria amiga.
      A verdadeira generosidade é fazer alguma coisa de bom por alguém
      que nunca vai descobrir.
      A verdadeira liberdade é poder tudo sobre si.
      Algumas pessoas acham-se cultas porque comparam sua ignorância com as dos outros.
      Amigo de verdade é aquele que transforma um pequeno momento em um grande instante.
      Amigo é a luz que não deixa a vida escurecer.
      Amigo é aquele que conhece todos os seus segredos e mesmo assim gosta de você!
      Amigo é aquele que nos faz sentir melhor e sobre tudo nos faz sentir amados...
      Amigo é aquele que, a cada vez, nos faz entrever
      a meta e que percorre conosco um trecho do caminho
      Amigos são como flores cada um tem o seu encanto por isso cultive-os.
      Amizade é como música: duas cordas afinadas no mesmo tom, vibram juntas...
      Amizade, palavra que designa vários sentimentos, que não pode ser trocada por meras coisas materiais... Deve ser
      guardada e conservada no coração!!!
      As pessoas entram em nossas vidas por acaso, mas não é por acaso que elas permanecem.
      Celebrar a vida é somar amigos, experiências e conquistas,
      dando-lhes sempre algum significado.
      Diante de um obstáculo não cruzes os braços, pois o maior
      homem do mundo morreu de braços abertos.
      Elogie os amigos em público, critique em particular.
      Errar é humano, perdoar é divino.
      Evitar a felicidade com medo que ela acabe; é o melhor meio de ser infeliz.
      Faça amizade com a bondade das pessoas, nunca com seus bens!
      Felicidade é a certeza de que a nossa vida não está se passando inutilmente.
    </p>
  </div>
  <div class="teste" id="teste">
    <p>
      Eu acredito na força interior, eu acredito no amor
      Eu acredito nas pessoas (ainda)
      Eu acredito que todo mundo merece uma segunda chance
      Eu acredito que todos nascemos bons
      Eu acredito na força da natureza
      Eu acredito que o bem sempre pode vencer o mal
      Eu acredito que tudo se transforma através do amor
      Eu acredito em quem se acredita
      E eu acredito que no fim o que todo mundo quer é ser feliz
      E que existe um Pai amoroso que torce por nós
      Por cada um de nós de modo único
      Eu acredito que para todas as perguntas existem respostas
      Eu acredito na amizade, na harmonia, na verdade
      Eu acredito que posso ser melhor a cada dia
      E mais que tudo isso, que eu posso aprender mais
      A cada dia... eu acredito ....Eu acredito na força interior, eu acredito no amor
      Eu acredito nas pessoas (ainda)
      Eu acredito que todo mundo merece uma segunda chance
      Eu acredito que todos nascemos bons
      Eu acredito na força da natureza
      Eu acredito que o bem sempre pode vencer o mal
      Eu acredito que tudo se transforma através do amor
      Eu acredito em quem se acredita
      E eu acredito que no fim o que todo mundo quer é ser feliz
      E que existe um Pai amoroso que torce por nós
      Por cada um de nós de modo único
      Eu acredito que para todas as perguntas existem respostas
      Eu acredito na amizade, na harmonia, na verdade
      Eu acredito que posso ser melhor a cada dia
      E mais que tudo isso, que eu posso aprender mais
      A cada dia... eu acredito ....
    </p>
  </div>
</div>